@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Lê Đoàn Hữu Tường
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0568973369
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cuongyd196@gmail.com">Hunter.19oct@gmail.com</a><br />
</address>